spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://:3306/underflow?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username:
    password:
  jpa:
    hibernate:
      ddl-auto: update
    database: mysql
  security:
    oauth2:
      client:
        registration:
          google:
            clientId:
            clientSecret:
            scope:
              - email
              - profile
          github:
            clientId:
            clientSecret:
            scope:
              - read:user
              - user:email
          facebook:
            clientId:
            clientSecret:
            scope:
              - email
              - pulbic_profile

mail:
  address:
    admin: admin@email.com

jwt:
  key:
  accessTokenExp: 30
  refreshTokenExp: 240