* {
  box-sizing: border-box;
}

.footer_container {
  display: flex;
  flex-direction: column;
  color: #9199a1;
  margin: 0;
  padding: 0;
  background-color: #232629;
  width: 100%;
  height: 180px;
}

.h5 {
  font-size: 14px;
  font-weight: bold;
  color: #babfc4;
  margin-bottom: 17px;
  
}

body {
  margin: 0px;
}

.logo {
  width: 53px;
  height: 52px;
  top: 5%;
  left: 5%;
}

.footer_nav {
  display: flex;
  margin-top: 10px;
  justify-content: space-around;
}

.li {
  padding: 0;
  margin-top: 0;
  margin-bottom: 8px;
  list-style: none;
  font-size: 14px
}

.li:hover {
  color:#a1a9b1;
}

.info {
      margin-top: auto;
}

.p {
  font-size: 12px;
}

.a {
  text-decoration:none;
  color: inherit;
}