*{
  box-sizing: border-box;
}
.left-sidebar {
  /* position:sticky;
  top:0px;
  background-color:rgb(255, 255, 255);
  margin-top: 4px;
  --side-bar-width: 270px;
  --side-bar-height: 90vh;
  overflow: hidden; */
  width: 164px;
  flex-shrink: 0;
  box-shadow: 0 0 0 hsla(210,8%,5%,0.05);
  border-right: solid 1px #e3e6e8;
}

.sbPublic {
  color: #6a737c;
  font-size: 11px;
}

.leftside {
  display: flex;
  justify-content: center;
}

.sbQu, .sbTags, .sbUsers{
  font-size: 13px;
  color: #525960;
}

.sbHome {
  font-size: 13px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.nav-btn {
  background-color: inherit;
  width: 100%;
  border: none;
  padding: 0%;
}

.side-nav {
  height: auto;
  max-width: 100%;
  position: sticky;
  margin: 0px 0px;
  padding: 20px 0px;
}

.side-nav-div {
  padding: 10px 0px;
}

.side-nav-div div {
  padding-left: 10px;
}

.side-nav-links {
  text-decoration: none;
  color: #3a3a3a;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 10px;
  transition: 0.2s;
}

.side-nav-links:hover {
  color: black;
}

.active {
  font-weight: bolder;
  color: black;
  background-color: #F1F2F3;
  border-right: solid 3px #ef8236;
}

@media screen and (max-width: 760px) {
  .left-sidebar {
    transform: translateX(-100%);
    z-index: 10;
  }
}
