.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
    background-color: aliceblue;
}

.username{
    margin-top: 10px;
    text-align: right;
}

.title{
    margin-top: 10px;
    margin-left: 10px;
}

.create_At{
    font-size: 0.8rem;
    color: gray;
    text-align: right;
}