.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
    background-color: aliceblue;

    
}

.quBox {
    border-bottom-color: #e3e6e8;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding: 16px;
    display: flex;
    height: 106px;
    width: 750px;
}

.quVote {
    font-weight: bold;
}

.quVote, .quAnswer, .quView {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.quAnswer, .quView {
    color: #6A737C;
    font-weight: bold;
}


.quAuthor {
    display: flex;
    text-align: right;
    gap: 3px;
}

.username{
    margin-top: 10px;
    text-align: right;
}

.quUser {
    font-size: 12px;
    color: #0074cc;
}

.create_At{
    font-size: 0.8rem;
    color: gray;
    text-align: right;
}

.quContent {
    display: flex;
    display: inline-block;
    width: 595px;
}

.quAuthor {
    display: flex;
    justify-content: right;
    
}

.quTitle {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 17px;
    text-align: left;
    margin-bottom: 5px;

}

.quTitle > a {
    color: #0074cc;
    text-decoration: none;
}
.quTitle > a:hover {
    color: #0a95ff;
}


.quTime {
    font-size: 12px;
    color: #6A737C;
}

.quStats {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    justify-content: space-between;
    margin-bottom: 4px;
    margin-right: 16px;
    width: 108px;
}

.quDetail {
    color: #3B4045;
    font-size: 13px;
    margin-bottom: 8px;
    margin-top: -2px;
}