.mainContiner{
    margin-top: 150px;
}
.buttonContiner{
    display: flex;
    justify-content: space-between;
}
.ask_Question_Button{
    background-color: rgb(3, 132, 252);
    border-radius: 5px;
    padding: 10px;
    color: white;
    border: solid 1px black;
}
.filterBtn{
    width: 100px;
    margin-top: 10px;
}
.filterButtonContiner{
    display: flex;
    justify-content: end;
}
.QuestionLength{
    margin-top: 10px;
    margin-left: 10px;
}