.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
    background-color: aliceblue;
}

.quBox {
    border-bottom-color: #e3e6e8;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding: 16px;
    display: flex;
}
.username{
    margin-top: 10px;
    text-align: right;
}

.title{
    margin-top: 10px;
    margin-left: 10px;
}

.create_At{
    font-size: 0.8rem;
    color: gray;
    text-align: right;
}

.quContent {
    display: flex;
}

.quAuthor {
    display: flex;
    text-align: right;
    
}

.quTitle {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 17px;
    text-align: left;
}

.quStats {
    display: flex;
    flex-direction: column;
    text-align: right;
    font-size: 13px;
    justify-content: space-between;
}