.suMainContainer{
    background-color: #F1F2F3;
    max-width: 100%;
    padding-left: 85px;
    padding-right: 85px;
}

.suContent {
    display: flex;
    padding: 24px;
    justify-content: center;
}

.suCenter {
    width: 785px;
    height: 965px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.suButtonContainer {
    display: flex;
    flex-direction: column;
    height: 137px;
    margin-bottom: 15px;
    justify-content: space-around;
}

.join {
    font-size: 27px;
    margin-bottom: 32px;
}

.suText {
    text-align: left;
    margin: 0px 48px 128px 0px;
}

.suTextSmall {
    font-size: 15px;
}

.get{
    margin-bottom: 24px;
}

.suTextDt {
    font-size: 13px;
    color :#6a737c;
}

.stack {
    text-decoration:none;
    color: #0074cc;
}

.stack:hover {
    color: #0a95ff;
}

.suBox {
    height: 965px;
    width: 316px;
}

.suGoogle {
    display: flex;
    justify-content: center;
    padding: 8.2px;
    border: 1px solid #D6D9DC; 
    outline: 0;
    background-color: #ffffff;
    color: #3b4045;
    border-radius: 6px 6px 6px 6px;
}

.suGoogle:hover {
    background-color: #f8f9f9;
}

.suGoogle:active {
    background-color: #f1f2f3;
}

.suGit {
    display: flex;
    justify-content: center;
    padding: 10.4px;
    border: 0;
    outline: 0;
    background-color: #2F3337;
    color:  #ffffff;
    border-radius: 6px 6px 6px 6px;
}

.suGit:hover {
    background-color:#232629;
}

.suGit:active {
    background-color: #0c0d0e;
}

.suFacebook {
    display: flex;
    justify-content: center;
    padding: 10.4px;
    border: 0;
    outline: 0;
    background-color: #385499;
    color:  #ffffff;
    border-radius: 6px 6px 6px 6px;
}

.suFacebook:hover {
    background-color: #314a86;
}

.suFacebook:active {
    background-color: #2a4074;
}

.suInput {
    background-color: #ffffff;
    margin-bottom: 24px;
    text-align: left;
    height: 641px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 7px 7px 7px 7px;
    box-shadow: 0 10px 24px hsla(0,0%,0%,0.05), 0 20px 48px hsla(0, 0%, 0%, 0.05), 0 1px 4px hsla(0, 0%, 0%, 0.1);
}

.check {
    width: 120px;
    height: 20px;
    border: none;
    border-radius: 5px 5px 5px 5px;
    color: #000000b2;
}

.check:hover, .verify:hover {
    color: #000000;
}

.verify {
    width: 50px;
    height: 20px;
    border: none;
    border-radius: 5px 5px 5px 5px;
    color: #000000b2;
}

.suID {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.checkCenter, .verifyCenter {
    display: flex;
    justify-content: right;
}

.suIDCK {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.suEmail {
    display: flex;
    flex-direction: column;
    gap: 2px;

}

.suPwd {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.suPwd2 {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.suPwdCon {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.suInputId {
    width: 264.6px;
    padding: 7.8px 9.1px;
    border: 0;
    outline: 1.2px solid #BABFC4;
    border-radius: 5px 5px 5px 5px;
}

.suInputCp {
    width: 264.6px;
    padding: 7.8px 9.1px;
    border: 0;
    outline: 1.2px solid #BABFC4;
    border-radius: 5px 5px 5px 5px;
}

.suInputDg {
    width: 264.6px;
    padding: 7.8px 9.1px;
    border: 0;
    outline: 1.2px solid #BABFC4;
    border-radius: 5px 5px 5px 5px;
    margin-bottom: 30px;
}

.signupBtn {
    background-color: #0a95ff;
    color : #ffffff;
    border: 0;
    outline: 0;
    padding: 11px;
    border-radius: 6px 6px 6px 6px;
}

.signupBtn:hover {
    background-color: #0074cc;
}

.signupBtn:active {
    background-color: #0063bf;
}

.errText{
    color: red;
    font-size: 0.8em;
    justify-content: center;
}

.succecsText{
    color: rgb(116, 174, 240);
    font-size: 0.8em;
}

.text2 {
    font-size: 13px;
    color : #6a737c;
    
}

.txt {
    font-size: 13px;
    padding: 16px;
    margin-bottom: 24px;
}

.suLogin, .suEmployer {
    color: #0074cc;
    text-decoration:none;
}

.suLogin:hover, .suEmployer:hover{
    color: #0a95ff;
}

.terms {
    color: #0074cc;
    text-decoration:none;
}

.terms:hover {
    color: #0a95ff;
}