.user-list-container {
  text-align: center;
  font-family: Arial, sans-serif;
}

.user-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.user-item {
  border: 1px solid #ddd;
  margin: 10px;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  width: 100px;
  text-align: left;
}

.user-item strong {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
